
html,body{
    font-family: 'Montserrat', sans-serif;
    height:100%;
    width:100%;
}
.navbar{
    background-color: #184D47;
    font-size: 1.2em;
}


.navbar-brand{
    width:16%;
    padding: 0 15px 5px;
}
.img-responsive{
    width:100%;
}
.header-flag{
    height: 70px;
    float: left;
    -webkit-transform: rotateY(
180deg
);
    transform: rotateY(
180deg
);
}
.nav-link{
    font-size:18px;
    margin:16px;
    font-family: 'Ubuntu';
    color:white;
}
.navbar-nav li a:hover, 
.navbar-nav li a.active{
color: orange;
}
#banner{
    background:no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.padding{
    margin: 1rem;
    padding: 2rem;
}
.padding-9{
    padding: 90px 0;
}

.lead{
   color: #798287;
   font-size: 18px;
}


.top-bar{
    background-color: #fbc531;
    height:2.8rem; /* 1rem = 16px*/
}

#about h2::after
{
  	content: '';
    background: rgba(0,0,0,.5);
    display:block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px; 
}
.block{
    padding: 5px 5px;
    background-color: #efefef;
  
    }
.block figcaption h4{
	display: block;
    font-size: 18px;
    line-height: 0.9;
    color: rgba(0,0,0,.5);
    margin-top: 5px;
    text-transform: uppercase;
}
.countries_desc{
	margin-top: 10px;
	text-align: justify;
	color: #798287;
    font-size: 14px;
}
.img-destinations{
    height: 235px;
    width: 100%;
    transition: transform 2s
}
#blog{
    margin:1.5% 0;
    
}
#blog h2::after
{
  	content: '';
    background: rgba(0,0,0,.5);
    display:block;
    height: 3px;
    width: 170px;
    margin: 10px auto 5px; 
}

.grid{
    padding: 5px 5px;
    background-color: #efefef;
    height:280px;
    }

.grid figcaption h4{
	display: block;
    font-size: 18px;
    line-height: 0.9;
    color: #636e72;
    margin-top: 5px;
    text-transform: uppercase;
    
}
.img-blog{
    height: 235px;
    width: 100%;
    transition: transform 2s;
}
.blog-description{
    padding:2% 0;
    font-family: 'Bree Serif',serif !important;
    
}
.grid figcaption a{
    text-decoration: none;
    color:#636e72;

}
.readmore{
    text-decoration: none;
}
.second-section{
    margin:3% 0;
}
.section-about{
    margin:3% 0;
}
.section-blog{
    margin:3% 0;
}
.crumbs{
    margin: 0 -20px;
    height: 40px;
    background: #f9f9f9;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px;
}
.crumbs .breadcrumb li {
    float: left;
    font-size: 12px;
    padding-top: 2px;
    padding-right: 5px;
}
.crumbs .breadcrumb li  {
    color: #8f7a7a;
    padding: 0 10px;
}

.button {
    background-color: #184D47;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }

  .img-table{
      height: 150px;
      width: auto;
  }
  a{
      color: #184D47;
      font-weight:bold ;
      font-size: 15px;
      text-decoration: none;
  }
  a:hover{
      color: #000;
  }

#footer
{
    margin-top: 30px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/boats.jpg);
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    margin-bottom: 30px;
}
#footer h3
{
padding-bottom: 10px;
padding-top: 5px;
text-align: center;
color:#efefef;
}
#footer p{
    text-align: justify;
    color: #798287;
}
.text-center
{
    margin-left:60px;

}

.section-footer{
    margin: 30px auto;
    
    
}

.subfooter1{
    padding-left:100px;
    color: #798287;
}
.subfooter2{
    padding-left:100px;
    
}
.subfooter2 ul li {
    
    color: #798287;
}
.subfooter2 ul li a {
    
    color: #798287;
}
.subfooter2 li a:hover{
    
    color: #184D47;
}

.row-blogbox{
    margin:3% 0;
}